Repository square/okhttp, pull requests merged in 2024-01, with the labels that each got.

#8178 Attempt to fix the android-test build
  android-test/build.gradle.kts
Labels: android, android-regression

#8191 Allow constructor injection of MockWebServer
  android-test/build.gradle.kts
  android-test/src/androidTest/java/okhttp/android/test/OkHttpTest.kt
  mockwebserver-junit5/README.md
  mockwebserver-junit5/src/main/kotlin/mockwebserver3/junit5/internal/MockWebServerExtension.kt
  mockwebserver-junit5/src/test/java/mockwebserver3/junit5/internal/ExtensionLifecycleTest.kt
  mockwebserver-junit5/src/test/java/mockwebserver3/junit5/internal/ExtensionMultipleInstancesTest.kt
  mockwebserver-junit5/src/test/java/mockwebserver3/junit5/internal/ExtensionMultipleTestsTest.kt
  okhttp-coroutines/src/test/kotlin/okhttp3/SuspendCallTest.kt
  okhttp-dnsoverhttps/src/test/java/okhttp3/dnsoverhttps/DnsOverHttpsTest.kt
  okhttp-logging-interceptor/src/test/java/okhttp3/logging/HttpLoggingInterceptorTest.kt
  okhttp-logging-interceptor/src/test/java/okhttp3/logging/LoggingEventListenerTest.kt
  okhttp-sse/src/test/java/okhttp3/sse/internal/EventSourceHttpTest.kt
  okhttp-sse/src/test/java/okhttp3/sse/internal/EventSourcesHttpTest.kt
  okhttp/src/test/java/okhttp3/InterceptorTest.kt
  okhttp/src/test/java/okhttp3/internal/tls/ClientAuthTest.kt
Labels: android

#8204 Faster github runners
  .github/workflows/build.yml
Labels: android, android-regression

#8057 Add tests against MockServer and a SOCKS5 proxy
  .github/workflows/containers.yml
  build.gradle.kts
  container-tests/README.md
  container-tests/build.gradle.kts
  container-tests/src/test/java/okhttp3/containers/BasicMockServerTest.kt
  container-tests/src/test/java/okhttp3/containers/SocksProxyTest.kt
  gradle.properties
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: containers

#8190 Handle DnsResolver direct exception on API 34
  okhttp-android/src/main/kotlin/okhttp3/android/AndroidAsyncDns.kt
  okhttp-android/src/test/kotlin/okhttp3/android/AndroidAsyncDnsTest.kt
  okhttp-android/src/test/kotlin/okhttp3/android/ShadowDnsResolver.kt
Labels: android
