Repository square/okhttp, pull requests merged in 2024-03, with the labels that each got.

#8289 Add loom pinning tests
  .github/workflows/build.yml
  build.gradle.kts
  container-tests/build.gradle.kts
  container-tests/src/test/java/okhttp3/containers/BasicLoomTest.kt
Labels: loom

#8302 Add an Android HttpEngine regression test
  .github/workflows/build.yml
  regression-test/src/androidTest/java/okhttp/regression/compare/AndroidHttpEngineTest.kt
  regression-test/src/main/AndroidManifest.xml
Labels: android-regression

#8304 Test using Http/3
  regression-test/src/androidTest/java/okhttp/regression/compare/AndroidHttpEngineTest.kt
Labels: android-regression

#8189 allow configuring web socket close timeout
  mockwebserver/src/main/kotlin/mockwebserver3/MockWebServer.kt
  okhttp/api/okhttp.api
  okhttp/src/main/kotlin/okhttp3/OkHttpClient.kt
  okhttp/src/main/kotlin/okhttp3/internal/ws/RealWebSocket.kt
  okhttp/src/test/java/okhttp3/OkHttpClientTest.kt
  okhttp/src/test/java/okhttp3/internal/ws/RealWebSocketTest.kt
  okhttp/src/test/java/okhttp3/internal/ws/WebSocketHttpTest.kt
Labels: enhancement
